<div class="ez-confirm" ng-enter="ok()" tabindex="-1">
  <div class="modal-header">
    <a type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</a>
    <h3>{{ heading }}</h3>
  </div>
  <div class="modal-body">
    <p class="lead">{{ text }}</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>Cancel</a>
    <button ng-click="ok()" class="btn btn-lg btn-primary"><i class="fa fa-check" focus-me="true"></i>Yes</button>
  </div>
</div>
