<div class="ez-confirm">
  <div class="modal-header">
    <a ng-if="!options.hideCloseButton" type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</a>
    <h3 class="modal-title">{{ options.heading }}</h3>
  </div>
  <div class="modal-body">
    <p class="lead">
      {{ !data.html ? options.text : '' }}
      <span ng-bind-html="data.html" ng-if="data.html"></span>
    </p>
  </div>
  <div class="modal-footer">
    <a ng-click="dismiss()" class="{{ options.cancelBtnCss }}">
      <i class="{{ options.cancelIconCss }}"></i>
      {{ options.cancelBtn }}
    </a>
    <button ng-click="close()" class="{{ options.confirmBtnCss }}" ez-focus>
      <i class="{{ options.confirmIconCss }}"></i>
      {{ options.confirmBtn }}
    </button>
  </div>
</div>
